doctype
html
	head
		- var title = "Dashboard"
		include ../_include/header.jade
	body#admin
		include ../_include/admin/sidebar.jade
		#admin-container
			#form-container
				h1 Customer
				hr
				#search
					h4 Search
					form(method="post" action!="<?php echo $_SERVER['PHP_SELF']; ?>")
						label IC Number
						input(type="number" name="ic")
						input(type="submit" name="search" value="Search")
						#display.
							<?php if(isset($_POST['search'])){$ic = htmlentities($_POST['ic']); $sql = "SELECT `uid`,`fname`,`lname`,`phone`,`sid`,`add1`,`add2` FROM user WHERE ic='$ic'"; if($result= mysqli_query($link,$sql)){if(mysqli_num_rows($result) == 1){$row = mysqli_fetch_assoc($result); $data = "<form method='post' action='".$_SERVER['PHP_SELF']."'><input type='hidden' name='uid' value='".$row['uid']."'><p> <label>First name</label> <input type='text' value='".$row['fname']."' name='firstname'> <label>Last name</label> <input type='text' value='".$row['lname']."' name='lastname'> </p> <p> <label>Phone No.</label> <input type='number' value='".$row['phone']."' name='phone'> <label>State ID</label> <input type='number' value='".$row['sid']."' name='sid'> </p> <p> <label>Address 1</label> <input type='text' value='".$row['add1']."' name='add1'> <label>Address 2</label> <input type='text' value='".$row['add2']."' name='add2'> </p> <p> <input type='submit' value='Update' name='update'> <input type='submit' value='Delete' name='delete'> </p></form>"; echo $data; }else{echo "<p>No result found</p>"; } } } if(isset($_POST['update'])){$uid = $_POST['uid']; $firstname = $_POST['firstname']; $lastname = $_POST['lastname']; $phone = $_POST['phone']; $sid = $_POST['sid']; $add1 = $_POST['add1']; $add2 = $_POST['add2']; $sqlupdate = "UPDATE user SET `fname`='$firstname', `lname`='$lastname', `phone`='$phone', `sid`='$sid', `add1`='$add1', `add2`='$add2' WHERE `uid`='$uid'"; if($GGWP = mysqli_query($link,$sqlupdate)){echo "<script>alert('Update Successfully')</script>"; } unset($_POST['update']); } if(isset($_POST['delete'])){$uid = $_POST['uid']; $sqlz = "DELETE FROM `user` WHERE `user`.`uid` = '$uid'"; if($resultz = mysqli_query($link,$sqlz)){echo "<script>alert('This user has been Deleted')</script>"; } } ?>