doctype
html
	head
		- var title = "Device"
		include ../_include/header.jade
	body
		include ../_include/navbar.html
		.device-container
			.device-row
				.device
					p Device 1
				.device
					p Device 2
			.device-row
				.device
					p Device 3
				.device
					p Device 4
		include ../_include/footer.html