doctype
html
	head
		- var title = "Plans"
		include ../_include/header.jade
	body
		include ../_include/navbar.html
		.device-container
			.device-row
				.device
					p Plans 1
				.device
					p Plans 2
			.device-row
				.device
					p Plans 3
				.device
					p Plans 4
		include ../_include/footer.html