doctype
html
	head
		- var title = "FAQ"
		include ../_include/header.jade
	body
		include ../_include/navbar.html
		#support-container
			.breadcrumb
				p Support
			h2 FAQ
			#faq.
				<?php
					foreach($question as $Q => $a){
						echo "<h3>Q: <span>$a</span></h3>";
						echo "<h3>A: <span>$answer[$Q]</span></h3>";
					} 
					
				 ?>
		include ../_include/footer.html