doctype
html
	head
		- var title = "Top Up"
		include ../_include/header.jade
	body
		include ../_include/navbar.html
		#user_container
			#userleft
				.breadcrumb
					p Manage account
				include ../_include/user/sidebar.jade
			#Manage_account
				#accountform
					h1 Manage Account
					hr
		include ../_include/footer.html