|<?php $link = mysqli_connect('localhost','root','','fyp'); $id = $_SESSION["id"]; $userinfo = mysqli_fetch_array(mysqli_query($link,"SELECT `fname`,`amount`,`add1`,`add2`,`sid`,`lname` FROM user WHERE `uid`='$id'"));?>
#sidebar
	ul
		li
			|<?php echo "<p>$userinfo[0] $userinfo[5]</p><p>Amount: $userinfo[1]</p><p>$userinfo[2]</p><p>$userinfo[3]</p><p>$userinfo[4]</p>"; ?>
		each val in [["Manage Account","manage"],["Topup","topup"],["Buy Plan","newregister"]]
			li: a(href=val[1]+".php")=val[0]