doctype
html
	head
		- var title = "Dashboard"
		include ../_include/header.jade
	body#admin
		include ../_include/admin/sidebar.jade
		#admin-container
			#form-container
				h1 Billing
				hr
				table
					tr: each th in ["Email","Amount","Action"]
						th=th
					|<?php if(!empty($row)){foreach ($row as $r) {echo "<tr><td>$r[1]</td><td>$r[2]</td><td><button><a href='billing.php?id=$r[0]'>Edit</a></button></td></tr>"; } } ?>
				|<?php if(isset($_GET['id'])){$id = $_GET['id']; $asd = mysqli_fetch_array(mysqli_query($link,"SELECT `Amount` FROM user WHERE `uid`='$id'")); echo mysqli_error($link); echo "<h1>Edit</h1> <hr><form action='' method='post'> <p style='margin:1rem 2rem'><label>Amount: </label> <input style='margin: 0 2rem' type='text' value='$asd[0]' name='amt'><input type='hidden' value='$id' name='id'><input type='submit' name='edit'></p></form>"; } ?>