#admin-sidebar
	h3 Dashboard
	a(href="customer.php") Customer
	a(href="billing.php") Billing
	a(href="admin_feedback.php") Feedback
	a(href="admin_plans.php") Plan
	a(href="admin_device.php") Device
	a#logout(href="index.php") Logout
